<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Dialog IS</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link rel="stylesheet" href="bower_components/ng-materialize/dist/ng-materialize.css">
</head>
<body ng-app="app">

  <nav class="light-blue">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">IS</a>
    </div>
  </nav>

  <div class="container" ng-controller="ContainerCtrl as $ctrl">
    <h1 class="center">GO</h1>

    <form name="isForm" novalidate>

      <div class="input-field">

        <input
          type="text"
          class="validate"
          id="name"
          name="name"
          ng-model="$ctrl.user.name"
          floating-label="Digite seu nome aqui"
          character-counter="10"
          ng-maxlength="10"
          ng-required="true"/>

        <div class="field-hint" ng-messages="isForm.name.$error" ng-show="isForm.name.$dirty">
          <div ng-message="required">Este campo é obrigatório!</div>
          <div ng-message="maxlength">Você não pode exceder 10 caracteres.</div>
        </div> <!-- .field-hint -->
        
      </div> <!-- .input-field -->

      <button ng-click="$ctrl.openModal()" class="btn waves-effect light-blue waves-light" type="submit" name="action">Abrir Modal
        <i class="material-icons right">send</i>
      </button>

    </form>

  </div> <!-- .container -->
  
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/waves/dist/waves.min.js"></script>
  <script src="bower_components/ng-materialize/dist/ng-materialize.min.js"></script>
  <script src="app.js"></script>
</body>
</html>